<div th:fragment="navigation_bar" class="mb-3">
    <div class="text-center" >@Bank Management System</div>
    <nav class="navbar navbar-expand-sm bg-secondary navbar-dark" style="background-color: #28a745 !important; height: 50px !important;">
        <ul class="navbar-nav">
            <li id="nav-account" class="nav-item">
                <a class="nav-link" href="/account">Account</a>
            </li>
            <li id="nav-bank" class="nav-item">
                <a class="nav-link" href="/bank">Bank</a>
            </li>
            <li id="nav-customer" class="nav-item">
                <a class="nav-link" href="/customer">Customer</a>
            </li>
        </ul>
    </nav>
</div>