<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="header">
</head>
<body>
<div class="col-3"></div>
<div class="container col-6">
    <div th:replace="navigation_bar"></div>
    <h2>New Customer</h2>
    <div class="col-md-auto">
        <form th:object="${customer}" th:action="@{save}" action="#" method="post">
            <div>
                <label th:for="full_name">Full Name</label>
                <input type="text" th:field="*{fullName}" class="form-control" placeholder="FullName"/>
            </div>
            <div style="clear: both; display: block; height: 10px"></div>
            <div>
                <label  th:for="email">Email</label>
                <input type="text" th:field="*{email}" class="form-control" placeholder="Address"/>
            </div>
            <div style="clear: both; display: block; height: 10px"></div>
            <div>
                <label  th:for="phone_number">Phone Number</label>
                <input type="text" th:field="*{phoneNumber}" class="form-control" placeholder="PhoneNumber"/>
            </div>
            <div style="clear: both; display: block; height: 10px"></div>
            <div>
                <label th:for="address">Address</label>
                <input type="text" th:field="*{address}" class="form-control" placeholder="Address"/>
            </div>
            <div style="clear: both; display: block; height: 10px"></div>
            <input type="submit" class="btn btn-success" value="Save"/>
        </form>
    </div>
</div>
</body>
</html>