<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="header">
</head>
<body>
<div class="col-3"></div>
<div class="container col-6">
    <div th:replace="navigation_bar"></div>
    <h2>Edit Bank</h2>
    <form th:object="${bank}"  th:action="@{save}" action="#" method="post">
        <input type="hidden" th:field="*{id}">
        <div>
            <label th:text="Name" th:for="name"></label>
            <input type="text" th:field="*{name}" class="form-control"/>
        </div>
        <div style="clear: both; display: block; height: 10px"></div>
        <div>
            <label th:text="Address" th:for="address"></label>
            <input type="text" th:field="*{address}" class="form-control"/>
        </div>
        <div style="clear: both; display: block; height: 10px"></div>
        <input type="submit" class="btn btn-success" value="Save"/>
    </form>
</div>
</body>
</html>